body .fotter, .header, .main-div, .success-card{
    width: 1140px;
    margin: auto;
}

.banner-image {
    background-image: url('./images/banner.png');
}


.btn-primary{
    background-color: #1DD100;
    color: white;
}